<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap Admin</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../static/css/theme.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css">

    <script src="../static/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href='../static/css/fullcalendar.min.css' rel='stylesheet'/>
    <link href='../static/css/fullcalendar.print.min.css' rel='stylesheet' media='print'/>
    <script src='../static/jquery/moment.min.js'></script>
    <script src='../static/js/fullcalendar.min.js'></script>
    <!-- Demo page code -->

    <style type="text/css">
        #line-chart {
            height: 300px;
            width: 800px;
            margin: 0px auto;
            margin-top: 1em;
        }

        .brand {
            font-family: georgia, serif;
        }

        .brand .first {
            color: #ccc;
            font-style: italic;
        }

        .brand .second {
            color: #fff;
            font-weight: bold;
        }

        .s_center {
            width: auto;
            padding: 0 2%;
            margin: 0;
        }

        .s_center option {
            text-align: center;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../static/images/favicon.ico">
</head>

<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
<!--<![endif]-->

<div class="navbar">
    {#    <div class="navbar-inner">#}
    {#        <ul class="nav pull-right">#}
    {##}
    {#            <li><a href="#" class="hidden-phone visible-tablet visible-desktop" role="button">Settings</a></li>#}
    {##}
    {##}
    {#        </ul>#}
    {#        <a class="brand" href="../home"><span class="first"></span> <span class="second">21vianet</span></a>#}
    {#    </div>#}
    <a class="brand" href="../home/"><span class="first">21vianet</span> <span class="second"></span></a>
    <div class="pull-right">>
        <li id="fat-menu" class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user-md"></i> Jack Smith
                <i class="icon-caret-down"></i>
            </a>

            <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#">My Account</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" class="visible-phone" href="#">Settings</a></li>
                <li class="divider visible-phone"></li>
                <li><a tabindex="-1" href="sign-in.html">Logout</a></li>
            </ul>
        </li>
    </div>
</div>

<div class="sidebar-nav">
    {#    <form class="search form-inline">#}
    {#        <input type="text" placeholder="Search...">#}
    {#    </form>#}

    <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>Dashboard</a>
    <ul id="dashboard-menu" class="nav nav-list collapse in">
        <li><a href="../home/">排班表</a></li>
        <li><a href="../calendar/">生成排班表</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                用户管理
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <!-- links -->
                <li><a href="../team/">值班组管理</a></li>
                <li><a href="../shift/">班次管理</a></li>
                <li><a href="../users/">值班人员管理</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                节假日/夜班管理
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <!-- links -->
                <li><a href="../multiple_wages/">添加多薪日期</a></li>
                <li><a href="../count/">排班统计</a></li>
            </ul>
        </li>
    </ul>

    <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>Account<span
            class="label label-info">+3</span></a>
    <ul id="accounts-menu" class="nav nav-list collapse">
        <li><a href="sign-in.html">Sign In</a></li>
        <li><a href="sign-up.html">Sign Up</a></li>
        <li><a href="reset-password.html">Reset Password</a></li>
    </ul>

</div>


<div class="content">

    <div class="header">
        <div class="stats">
            <p class="stat"><span class="number">53</span>tickets</p>
            <p class="stat"><span class="number">27</span>tasks</p>
            <p class="stat"><span class="number">15</span>waiting</p>
        </div>
        <h1 class="page-title" style='display:inline-block'>排班表</h1>
        <h3 style='display:inline-block'><a href="#" data-toggle="tooltip" data-placement="bottom" title="">tips</a>
        </h3>
    </div>

    <ul class="breadcrumb">
        <li><a href="../home/">Home</a> <span class="divider">/</span></li>
        <li> 排班表 <span class="divider">/</span></li>
        <li class="fc-right">
            <button class="btn btn-primary" onclick="generate()"><i class="icon-plus"></i> 自动生成下三个月排班</button>
        </li>
        <li class="pull-right">
            <form action="../export_excel/" method="post">
                <input type="hidden" name="year" id="year"/>
                <input type="hidden" name="month" id="month"/>
                <input type="hidden" name="is_public" id="is_public"/>
                <input type="submit" class="btn btn-primary" value="导出本月所有Team的排班表"/>
            </form>
            {#            <button class="btn btn-primary" onclick="export_excel()"><i class="icon-plus"></i> 导出本月所有Team的排班表</button>#}
        </li>
        <select class="form-control s_center" id="sel_teamname" name="sel_teamname">
        </select>
    </ul>
    <div class="container-fluid">
        <div id='wrap'>

            <div id='calendar'></div>

            <div style='clear:both'></div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="txt_MPname1">值班人姓名</label>
                            <select class="form-control" id="sel_Pname" name="sel_Pname">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="txt_shiftname">班次</label>
                            <select class="form-control" id="sel_shiftname" name="sel_shiftname">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="txt_ismaster">是否为主值班人</label>
                            <br>
                            <input type="radio" name="ismaster" value="true" checked>是
                            <br>
                            <input type="radio" name="ismaster" value="false">否
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                        </button>
                        <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span
                                class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myDetailLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myDetailLabel">值班人信息</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="txt_detailname">值班人姓名</label>
                            <input type="text" name="txt_detailname" class="form-control" id="txt_detailname"
                                   placeholder="值班人姓名" disabled>
                        </div>
                        <div class="form-group">
                            <label for="txt_telnum">联系电话</label>
                            <input type="text" name="txt_telnum" class="form-control" id="txt_telnum"
                                   placeholder="联系电话" disabled>
                        </div>
                        <div class="form-group">
                            <label for="txt_email">邮箱</label>
                            <input type="text" name="txt_email" class="form-control" id="txt_email"
                                   placeholder="邮箱" disabled>
                        </div>
                        <div class="form-group">
                            <label for="txt_ismaster">是否为主值班人</label>
                            <br>
                            <input type="radio" name="ismaster" value="yes" checked disabled>是
                            <br>
                            <input type="radio" name="ismaster" value="no" disabled>否
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                        </button>
                        <button type="button" id="btn_detaildel" class="btn btn-primary" data-dismiss="modal"><span
                                class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>删除排班
                        </button>
                        <button type="button" id="btn_detailmodify" class="btn btn-primary" data-dismiss="modal"><span
                                class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>更改值班人
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var shift_dict = new Array();
    var person_dict = new Array();
    var team_dict = new Array();
    var colors = ['teal', 'green', 'fuchsia', 'purple', 'red'];
    var color_dict = {};

    function startTeam() {
        $.ajax({
            url: '../api/team/',
            type: "GET",
            async: false,
            dataType: 'json',
            data: {
                is_delete: false,
            },
            success: function (data) {
                var ddl = $("#sel_teamname");
                //删除节点
                RemoveOption();
                //转成Json对象
                var result = eval(data.results);
                //循环遍历 下拉框绑定
                var i = 0;
                $(result).each(function (key) {
                    //第一种方法
                    if (i == 0) {
                        var opt = "<option value='" + result[key].id + "' selected>" + result[key].name + "</option>";
                    } else {
                        var opt = "<option value='" + result[key].id + "'>" + result[key].name + "</option>";
                    }
                    i++;
                    ddl.append(opt);
                });
                $("#sel_teamname option:first").prop("selected", 'selected');
                startShift();
                $("#sel_shiftname option:first").prop("selected", 'selected');
                startPerson();
                $("#sel_Pname option:first").prop("selected", 'selected');
            },
            complete: function () {


            },
            error: function () {


            }
        });
    }

    function RemoveOption() {
        $("#sel_teamname option").remove();
    }

    $("#sel_teamname").change(function () {
        startPerson();
        $("#sel_Pname option:first").prop("selected", 'selected');
        startShift();
        $("#sel_shiftname option:first").prop("selected", 'selected');
        $("#calendar").fullCalendar("removeEvents");
        $('#calendar').fullCalendar('refetchEvents');
    });

    function startShift() {
        color_dict = {};
        $.ajax({
            url: '../api/shift/',
            type: "GET",
            dataType: 'json',
            data: {
                team_id: $("#sel_teamname").val(),
                is_delete: false,
            },
            success: function (data) {
                var ddl = $("#sel_shiftname");
                //删除节点
                RemoveOption1();
                //转成Json对象
                var result = eval(data.results);
                //循环遍历 下拉框绑定
                $(result).each(function (key) {
                    var time_start = moment(result[key].time_start, "HH:mm:ss").format("HH:mm");
                    var time_end = moment(result[key].time_end, "HH:mm:ss").format("HH:mm");
                    if (time_start == time_end) {
                        time_end = time_end + 'N'
                    }
                    var opt = "<option value='" + result[key].id + "'>" + result[key].name +
                        "(" + time_start + "~" + time_end + ")</option>";
                    ddl.append(opt);
                });

            },
            complete: function () {


            },
            error: function () {


            }
        });
        $.ajax({
            url: '../api/shift/',
            type: "GET",
            dataType: 'json',
            data: {
                team_id: $("#sel_teamname").val(),
            },
            success: function (data) {
                //转成Json对象
                var result = eval(data.results);
                var i = 0;
                $(result).each(function (key) {
                    var time_start = moment(result[key].time_start, "HH:mm:ss").format("HH:mm");
                    var time_end = moment(result[key].time_end, "HH:mm:ss").format("HH:mm");
                    if (time_start == time_end) {
                        time_end = time_end + 'N'
                    }
                    shift_dict[result[key].id] = [result[key].name, time_start, time_end]
                    color_dict[result[key].id] = colors[i % 5];
                    i++;
                });

            },
            complete: function () {


            },
            error: function () {


            }
        });
    }

    function RemoveOption1() {
        $("#sel_shiftname option").remove();
    }

    $("#sel_shiftname").change(function () {

    });

    function startPerson() {
        $.ajax({
            url: '../api/person/',
            type: "GET",
            dataType: 'json',
            data: {
                team_id: $("#sel_teamname").val(),
                is_delete: false,
            },
            success: function (data) {
                var ddl1 = $("#sel_Pname");
                var opt = '';
                //删除节点
                $("#sel_Pname option").remove();
                //转成Json对象
                var result = eval(data.results);
                //循环遍历 下拉框绑定
                $(result).each(function (key) {
                    opt = "<option value='" + result[key].id + "'>" + result[key].name + "</option>";
                    ddl1.append(opt);
                });
            },
            complete: function () {


            },
            error: function () {


            }
        });
        $.ajax({
            url: '../api/person/',
            type: "GET",
            dataType: 'json',
            data: {
                team_id: $("#sel_teamname").val(),
            },
            success: function (data) {
                //转成Json对象
                var result = eval(data.results);
                //循环遍历 下拉框绑定
                $(result).each(function (key) {
                    person_dict[result[key].id] = result[key].name;
                });
            },
            complete: function () {


            },
            error: function () {


            }
        });
    }

    $(function () {
        startTeam();
    });

    function generate() {
        $.ajax({
            url: '../auto_generate/',
            type: "POST",
            dataType: 'text',
            data: {
                team_id: $("#sel_teamname").val(),
                is_public: 'False'
            },
            success: function (data) {
                alert("生成成功");
                window.location.href = "../home/";
            },
            error: function (data, status, er) {
                console.log(data);
            }
        });

    }

    function export_excel() {
        $.ajax({
            url: '../export_excel/',
            type: "POST",
            dataType: 'json',
            data: {
                is_public: 'False',
                year: events_date.getFullYear(),
                month: events_date.getMonth() + 1,
            },
            success: function (data) {

            },
            error: function (data, status, er) {
                console.log(data);
            }
        });

    }
</script>
<script>
    $(document).ready(function () {
        /*  className colors

        className: default(transparent), important(red), chill(pink), success(green), info(blue)

        */
        var envdate = '';
        var myevent = '';


        /* initialize the external events
        -----------------------------------------------------------------*/

        $('#external-events div.external-event').each(function () {

            // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
            // it doesn't need to have a start or end
            var eventObject = {
                title: $.trim($(this).text()) // use the element's text as the event title
            };

            // store the Event Object in the DOM element so we can get to it later
            $(this).data('eventObject', eventObject);

            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });

        });


        /* initialize the calendar
        -----------------------------------------------------------------*/

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next',
                center: 'title',
                right: 'today'
            },
            lang: 'zh-cn',
            timezone: "local",
            {#editable: true,#}
            eventLimit: true, // allow "more" link when too many events
            selectable: true,
            eventOrder: 'order',
            themeSystem: 'bootstrap3',
            select: function (start, end, jsEvent, view) { //点击空白区域/选择区域内容触发
                console.log("↓↓↓select↓↓↓");
                var newstart = new String(moment(start).format("YYYY-MM-DD")) + "T00:00:00";
                envdate = newstart;
                $('input[value="true"]').prop('checked', true).trigger('change');
                $("#myModalLabel").text("新增");
                $('#myModal').modal();
            },
            events: function (start, end, timezone, callback) {
                $("#calendar").fullCalendar("removeEvents");
                var events_date = new Date(this.getDate());
                // 获取当前月的数据
                $("#year").val(events_date.getFullYear());
                $("#month").val(events_date.getMonth() + 1);
                $("#is_public").val('False');
                $.ajax({
                    url: '../api/schedule/list_by_date/',
                    type: "GET",
                    dataType: 'json',
                    data: {
                        team_id: $("#sel_teamname").val(),
                        year: events_date.getFullYear(),
                        month: events_date.getMonth() + 1,
                        is_public: false,
                    },
                    success: function (data) {
                        var events = [];
                        var mydate = moment(new Date()).format("YYYY-MM-DD");
                        var color = '';
                        $.each(data.results, function (index, value) {
                            if (mydate > moment(value.date).format("YYYY-MM-DD")) {
                                color = 'black';

                            } else {
                                color = color_dict[value.shift_id];
                            }
                            events.push({
                                id: value.id,
                                scheduleobj: value,
                                title: person_dict[value.person_id] + ',' + shift_dict[value.shift_id][0] + '('
                                + shift_dict[value.shift_id][1] + '~' + shift_dict[value.shift_id][2] + ')',
                                order: index,
                                allDay: true,
                                color: color,
                                start: value.date
                            });
                        });
                        callback(events);
                    }
                });
            },
            eventClick: function (event, element) {
                myevent = '';
                envdate = event.start;
                $.ajax({
                    url: '../api/person/',
                    type: "GET",
                    dataType: 'json',
                    data: {
                        id: event.scheduleobj.person_id,
                    },
                    success: function (data) {
                        var result = data.results;
                        if (data.count == 0) {
                            alert("值班人信息有误，请重试")
                        } else {
                            $("#txt_detailname").val(result[0].name);
                            $("#txt_telnum").val(result[0].tel_num);
                            $("#txt_email").val(result[0].email);
                            if (event.scheduleobj.is_master == true) {
                                $('input[value="yes"]').prop('checked', true).trigger('change')
                            } else {
                                $('input[value="no"]').prop('checked', true).trigger('change')
                            }
                            myevent = event;
                            $('#detail').modal();
                        }
                    }
                });
            },
            eventMouseover: function (calEvent, jsEvent, view) {//鼠标在日程区块上时触发
                $(this).css('cursor', 'pointer');
            },
            eventMouseout: function (calEvent, jsEvent, view) {//鼠标从日程区块离开时触发
                $(this).css('cursor-color', '');
            },
        });
        $('#myModal').on('hidden.bs.modal', function () {
            // 执行一些动作...
            if ($("#myModalLabel").text() == '新增') {
                $("#sel_Pname option:first").prop("selected", 'selected');
                $("#sel_shiftname option:first").prop("selected", 'selected');
                $('input[value="true"]').prop('checked', true).trigger('change');
            } else {
                $("#sel_Pname option:first").prop("selected", 'selected');
                $("#sel_shiftname option:first").prop("selected", 'selected');
                $('input[value="true"]').prop('checked', true).trigger('change');
            }
        })
        $("#btn_submit").click(function () {
            var events_day = $('#calendar').fullCalendar('clientEvents', function (event) {
                var eventStart = event.start.format('YYYY-MM-DD');
                var eventEnd = event.end ? event.end.format('YYYY-MM-DD') : null;
                var theDate = moment(envdate).format("YYYY-MM-DD");
                // Make sure the event starts on or before date and ends afterward
                // Events that have no end date specified (null) end that day, so check if start = date
                return (eventStart <= theDate && (eventEnd >= theDate) && !(eventStart < theDate && (eventEnd == theDate))) || (eventStart == theDate && (eventEnd === null));
            });
            var ismaster = ('true' == $("input[name='ismaster']:checked").val());
            if (events_day.length == 0) {
                if (ismaster != true) {
                    alert("当天添加的第一位值班人必须为主值班人，已为您自动修正");
                    ismaster = true;
                }
            }
            if ($("#myModalLabel").text() == '新增') {
                $.ajax({
                    url: '../api/schedule/',
                    type: "POST",
                    dataType: 'json',
                    data: {
                        team_id: $("#sel_teamname").val(),
                        date: envdate,
                        person_id: $("#sel_Pname").val(),
                        shift_id: $("#sel_shiftname").val(),
                        is_master: ismaster,
                        is_public: false
                    },
                    success: function (result) {
                        if (result) {
                            for (var i = 0; i < events_day.length; i++) {
                                if (ismaster == true) {
                                    if (events_day[i].scheduleobj.is_master == true &&
                                        events_day[i].scheduleobj.shift_id == result.shift_id) {
                                        $.ajax({
                                            url: '../api/schedule/' + events_day[i].scheduleobj.id + '/',
                                            type: "put",
                                            dataType: 'json',
                                            data: {
                                                team_id: events_day[i].scheduleobj.team_id,
                                                date: events_day[i].scheduleobj.date,
                                                person_id: events_day[i].scheduleobj.person_id,
                                                shift_id: events_day[i].scheduleobj.shift_id,
                                                is_master: false,
                                                is_public: false
                                            },
                                            success: function (result) {

                                            }
                                        });
                                        events_day[i].scheduleobj.is_master = false;
                                    }
                                }
                            }
                            alert("添加成功");
                            var title = $("#sel_Pname option[value='" + result.person_id + "']").text() + ',' +
                                $("#sel_shiftname option[value='" + result.shift_id + "']").text();
                            var eventData;
                            var mydate = moment(new Date()).format("YYYY-MM-DD");
                            var color = '';
                            if (mydate > moment(result.date).format("YYYY-MM-DD")) {
                                color = 'black';
                            } else {
                                color = color_dict[result.shift_id];
                            }
                            if (title) {
                                eventData = {
                                    id: result.id,
                                    title: title,
                                    start: result.date,
                                    allDay: true,
                                    color: color,
                                    scheduleobj: result,
                                }
                                $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                                $('#calendar').fullCalendar('unselect');
                            }

                        } else {
                            alert("添加失败，请重试");
                            $('#myModal').modal("show");
                        }
                    }
                });
            } else {
                if (myevent.scheduleobj.person_id != $("#sel_Pname").val() ||
                    myevent.scheduleobj.shift_id != $("#sel_shiftname").val() ||
                    myevent.scheduleobj.is_master != ismaster) {
                    $.ajax({
                        url: '../api/schedule/' + myevent.scheduleobj.id + '/',
                        type: "put",
                        dataType: 'json',
                        data: {
                            team_id: myevent.scheduleobj.team_id,
                            date: myevent.scheduleobj.date,
                            person_id: $("#sel_Pname").val(),
                            shift_id: $("#sel_shiftname").val(),
                            is_master: ismaster,
                            is_public: false
                        },
                        success: function (result) {
                            if (result) {
                                if (myevent.scheduleobj.is_master != ismaster) {
                                    if (ismaster == false) {
                                        for (var i = 0; i < events_day.length; i++) {
                                            if (result.id != events_day[i].scheduleobj.id &&
                                                result.shift_id == events_day[i].scheduleobj.shift_id) {
                                                $.ajax({
                                                    url: '../api/schedule/' + events_day[i].scheduleobj.id + '/',
                                                    type: "put",
                                                    dataType: 'json',
                                                    data: {
                                                        team_id: events_day[i].scheduleobj.team_id,
                                                        date: events_day[i].scheduleobj.date,
                                                        person_id: events_day[i].scheduleobj.person_id,
                                                        shift_id: events_day[i].scheduleobj.shift_id,
                                                        is_master: true,
                                                        is_public: false
                                                    },
                                                    success: function (result) {

                                                    }
                                                });
                                                events_day[i].scheduleobj.is_master = true;
                                                break;
                                            }
                                        }
                                    } else {
                                        for (var i = 0; i < events_day.length; i++) {
                                            if (result.id != events_day[i].scheduleobj.id) {
                                                if (events_day[i].scheduleobj.is_master == true &&
                                                    result.shift_id == events_day[i].scheduleobj.shift_id) {
                                                    $.ajax({
                                                        url: '../api/schedule/' + events_day[i].scheduleobj.id + '/',
                                                        type: "put",
                                                        dataType: 'json',
                                                        data: {
                                                            team_id: events_day[i].scheduleobj.team_id,
                                                            date: events_day[i].scheduleobj.date,
                                                            person_id: events_day[i].scheduleobj.person_id,
                                                            shift_id: events_day[i].scheduleobj.shift_id,
                                                            is_master: false,
                                                            is_public: false
                                                        },
                                                        success: function (result) {

                                                        }
                                                    });
                                                    events_day[i].scheduleobj.is_master = false;
                                                }
                                            }
                                        }
                                    }
                                }

                                alert("更新成功");
                                myevent.title = $("#sel_Pname option[value='" + result.person_id + "']").text() + ',' +
                                    $("#sel_shiftname option[value='" + result.shift_id + "']").text();
                                //更新日程对象信息
                                myevent.scheduleobj = result;
                                if (myevent.color != 'black') {
                                    myevent.color = color_dict[result.shift_id]
                                }
                                $('#calendar').fullCalendar('updateEvent', myevent);
                            } else {
                                alert("更新失败，请重试");
                                $('#myModal').modal("show");
                            }
                        }
                    });

                }
            }
        });
        $("#btn_detaildel").click(function () {
            var con = confirm("是否确定删除该值班信息？");
            if (con == true) {
                $.ajax({
                    url: '../api/schedule/' + myevent.scheduleobj.id+'/',
                    type: "delete",
                    dataType: 'json',
                    data: {},
                    success: function (result) {
                        alert("删除成功");
                        //$('#calendar').fullCalendar('refetchEvents');
                        $("#calendar").fullCalendar("removeEvents", myevent.scheduleobj.id);
                    }
                });
            }
        });
        $("#btn_detailmodify").click(function () {
            $("#myModalLabel").text("更新");
            $("#sel_Pname").val(myevent.scheduleobj.person_id);
            $("#sel_shiftname").val(myevent.scheduleobj.shift_id);
            if (myevent.scheduleobj.is_master == true) {
                $('input[value="true"]').prop('checked', true).trigger('change')
            } else {
                $('input[value="false"]').prop('checked', true).trigger('change')
            }
            $('#myModal').modal();
        });
    })
    $(function () {
        var title = "<h3><li>1.点击某条排班信息可以查看该值班人信息及对排班进行编辑</li>" +
            "<li>2.点击日期空白部分可以添加排班信息</li></h3>"
        options = {
            title: title,
            html: true,
        };
        $("[data-toggle='tooltip']").tooltip(options);
    });
</script>
</body>
</html>


