<!DOCTYPE html>
<html>
<head>
    {#    <link href='/static/css/fullcalendar.css' rel='stylesheet'/>#}
    {#    <link href='/static/css/fullcalendar.print.css' rel='stylesheet' media='print'/>#}
    {##}
    {#    <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js'></script>#}
    {#    <script src='/static/jquery/jquery-ui.min.js'></script>#}
    {##}
    {#    <script src='/static/js/fullcalendar.js'></script>#}
    <meta charset='utf-8'/>
    <link href='/static/css/fullcalendar.min.css' rel='stylesheet'/>
    <link href='static/css/fullcalendar.print.min.css' rel='stylesheet' media='print'/>
    <script src='/static/jquery//moment.min.js'></script>
    <script src='/static/jquery//jquery.min.js'></script>
    <script src='/static/js/fullcalendar.min.js'></script>
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    <script>
        $(document).ready(function () {
            /*  className colors

            className: default(transparent), important(red), chill(pink), success(green), info(blue)

            */
            var scheduleobj = ''

            /* initialize the external events
            -----------------------------------------------------------------*/

            $('#external-events div.external-event').each(function () {

                // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                // it doesn't need to have a start or end
                var eventObject = {
                    title: $.trim($(this).text()) // use the element's text as the event title
                };

                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject);

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });


            /* initialize the calendar
            -----------------------------------------------------------------*/

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'today'
                },
                lang: 'zh-cn',
                timezone: "local",
                {#editable: true,#}
                eventLimit: true, // allow "more" link when too many events
                selectable: true,
                select: function (start, end, jsEvent, view) { //点击空白区域/选择区域内容触发
                    console.log("↓↓↓select↓↓↓");
                    var newstart = start.format("YYYY-MM-DD");
                    scheduleobj = new Object();
                    scheduleobj.date = newstart;
                    $('input[value="true"]').prop('checked', true).trigger('change');
                    $('#myModal').modal();
                    $('#myModal').on('hidden.bs.modal', function () {
                        // 执行一些动作...
                        $("#txt_personname").val('');
                        $("#txt_shiftname").val('');
                        $('input[value="true"]').prop('checked', true).trigger('change');
                        if (scheduleobj.person_name != null) {
                            var title = scheduleobj.person_name + ',' + scheduleobj.shift_name;
                            var eventData;
                            if (title) {
                                eventData = {
                                    title: title,
                                    start: start,
                                    scheduleobj: scheduleobj,
                                    end: end
                                };
                                $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                            }
                        }
                        $('#calendar').fullCalendar('unselect');
                    })

                },
                events: function (start, end, timezone, callback) {
                    var date = new Date(this.getDate())
                    $.ajax({
                        url: '/api/schedule/list_by_date/',
                        type: "GET",
                        dataType: 'json',
                        data: {
                            team_id: 100,
                            year: date.getFullYear(),
                            month: date.getMonth() + 1
                        },
                        success: function (data) { // 获取当前月的数据
                            var events = [];
                            $.each(data, function (index, value) {
                                events.push({
                                    scheduleobj: value,
                                    title: value.person_name + ',' + value.shift_name,
                                    start: value.date
                                });
                            });
                            callback(events);
                        }
                    });
                },
                eventClick: function (event, element) {
                    scheduleobj = new Object();
                    alert(event.scheduleobj.person_id)
                    $.ajax({
                        url: '/api/person/',
                        type: "GET",
                        dataType: 'json',
                        data: {
                            id: event.scheduleobj.person_id,
                        },
                        success: function (result) {
                            if (result.length == 0) {
                                alert("值班人信息有误，请重试")
                            } else {
                                $("#txt_detailname").val(result[0].name);
                                $("#txt_telnum").val(result[0].tel_num);
                                $("#txt_email").val(result[0].email);
                                if (event.scheduleobj.is_master == true) {
                                    $('input[value="yes"]').prop('checked', true).trigger('change')
                                } else {
                                    $('input[value="no"]').prop('checked', true).trigger('change')
                                }
                                scheduleobj = event.scheduleobj;
                                $('#detail').modal();
                                $('#myModal').on('hide.bs.modal', function () {
                                    // 执行一些动作...
                                    event.title = $("#txt_personname").val() + ',' + $("#txt_shiftname").val();
                                    //更新日程对象信息
                                    $('#calendar').fullCalendar('updateEvent', event);
                                })
                            }
                        }
                    });
                }
            });
            //$("#txt_personname").on("input", function (evt) {
            //   if ($(this).val().trim().length) {
            //    $("#btn_submit").removeAttr("disabled");
            // } else {
            //  alert("值班人姓名不能为空，请重新输入");
            // $("#btn_submit").prop("disabled", "disabled");
            //}

            //});
            $("#btn_submit").click(function () {
                if ($("#myModalLabel").text() == '新增') {
                    var ismaster = ('true' == $("input[name='ismaster']:checked").val());
                    if ($("#txt_personname").val() != '' || $("#txt_shiftname").val() != '') {
                        $.ajax({
                            url: '/api/person/',
                            type: "GET",
                            dataType: 'json',
                            data: {
                                name: $("#txt_personname").val(),
                            },
                            success: function (result) {
                                if (result.length == 0) {
                                    alert("值班人不存在，请重新输入")
                                    $('#myModal').modal("show");
                                } else {
                                    $.ajax({
                                        url: '/api/schedule/',
                                        type: "POST",
                                        dataType: 'json',
                                        data: {
                                            team_id: 100,
                                            date: scheduleobj.date,
                                            person_id: result[0].id,
                                            person_name: result[0].name,
                                            shift_id: 10,
                                            shift_name: $("#txt_shiftname").val(),
                                            is_master: ismaster
                                        },
                                        success: function (result) {
                                            if (result) {
                                                scheduleobj = result;
                                                alert("添加成功");
                                            } else {
                                                alert("添加失败，请重试");
                                                $('#myModal').modal("show");
                                            }
                                        }
                                    });
                                }
                            }
                        });

                    }
                } else {
                    var ismaster = ('true' == $("input[name='ismaster']:checked").val());
                    if (scheduleobj.person_name != $("#txt_personname").val() ||
                        scheduleobj.shift_name != $("#txt_shiftname").val() ||
                        scheduleobj.is_master != ismaster) {
                        $.ajax({
                            url: '/api/person/',
                            type: "GET",
                            dataType: 'json',
                            data: {
                                name: $("#txt_personname").val(),
                            },
                            success: function (result) {
                                if (result.length == 0) {
                                    alert("值班人不存在，请重新输入")
                                    $('#myModal').modal("show");
                                } else {
                                    $.ajax({
                                        url: '/api/schedule/' + scheduleobj.id + '/',
                                        type: "put",
                                        dataType: 'json',
                                        data: {
                                            team_id: scheduleobj.team_id,
                                            date: scheduleobj.date,
                                            person_id: result[0].id,
                                            person_name: result[0].name,
                                            shift_id: 10,
                                            shift_name: $("#txt_shiftname").val(),
                                            is_master: ismaster
                                        },
                                        success: function (result) {
                                            if (result) {
                                                alert("更新成功");
                                            } else {
                                                alert("更新失败，请重试");
                                                $('#myModal').modal("show");
                                            }
                                        }
                                    });
                                }
                            }
                        });

                    }
                }
            });
            $("#btn_detaildel").click(function () {
                $.ajax({
                    url: '/api/schedule/' + scheduleobj.id,
                    type: "delete",
                    dataType: 'json',
                    data: {},
                    success: function (result) {
                        alert("删除成功");
                        window.location.reload();
                    }
                });
            });
            $("#btn_detailmodify").click(function () {
                $("#myModalLabel").text("更新");
                $("#txt_personname").val(scheduleobj.person_name);
                $("#txt_shiftname").val(scheduleobj.shift_name);
                if (scheduleobj.is_master == true) {
                    $('input[value="true"]').prop('checked', true).trigger('change')
                } else {
                    $('input[value="false"]').prop('checked', true).trigger('change')
                }
                $('#myModal').modal();
            });
        })
    </script>
    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>
</head>
<body>
<div id='wrap'>

    <div id='calendar'></div>

    <div style='clear:both'></div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">新增</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="txt_personname">值班人姓名</label>
                    <input type="text" name="txt_personname" class="form-control" id="txt_personname"
                           placeholder="值班人姓名">
                </div>
                <div class="form-group">
                    <label for="txt_shiftname">班次</label>
                    <input type="text" name="txt_shiftname" class="form-control" id="txt_shiftname"
                           placeholder="班次">
                </div>
                <div class="form-group">
                    <label for="txt_ismaster">是否为主值班人</label>
                    <br>
                    <input type="radio" name="ismaster" value="true" checked>是
                    <br>
                    <input type="radio" name="ismaster" value="false">否
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                </button>
                <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span
                        class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myDetailLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myDetailLabel">值班人信息</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="txt_detailname">值班人姓名</label>
                    <input type="text" name="txt_detailname" class="form-control" id="txt_detailname"
                           placeholder="值班人姓名" disabled>
                </div>
                <div class="form-group">
                    <label for="txt_telnum">联系电话</label>
                    <input type="text" name="txt_telnum" class="form-control" id="txt_telnum"
                           placeholder="联系电话" disabled>
                </div>
                <div class="form-group">
                    <label for="txt_email">邮箱</label>
                    <input type="text" name="txt_email" class="form-control" id="txt_email"
                           placeholder="邮箱" disabled>
                </div>
                <div class="form-group">
                    <label for="txt_ismaster">是否为主值班人</label>
                    <br>
                    <input type="radio" name="ismaster" value="yes" checked>是
                    <br>
                    <input type="radio" name="ismaster" value="no">否
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                </button>
                <button type="button" id="btn_detaildel" class="btn btn-primary" data-dismiss="modal"><span
                        class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>删除排班
                </button>
                <button type="button" id="btn_detailmodify" class="btn btn-primary" data-dismiss="modal"><span
                        class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>更改值班人
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
