<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap Admin</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../static/css/theme.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">

    <script src="../static/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Demo page code -->

    <style type="text/css">
        #line-chart {
            height: 300px;
            width: 800px;
            margin: 0px auto;
            margin-top: 1em;
        }

        .brand {
            font-family: georgia, serif;
        }

        .brand .first {
            color: #ccc;
            font-style: italic;
        }

        .brand .second {
            color: #fff;
            font-weight: bold;
        }

        th, td {
            text-align: center
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../static/images/favicon.ico">
</head>

<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
<!--<![endif]-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">新增</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="txt_name">组名</label>
                    <input type="text" name="txt_name" class="form-control" id="txt_name"
                           placeholder="组名">
                </div>
                <div class="form-group">
                    <label for="txt_desc">描述</label>
                    <input type="text" name="txt_desc" class="form-control" id="txt_desc"
                           placeholder="描述">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                </button>
                <button type="button" id="btn_submit" onclick="submit()" class="btn btn-primary"
                        data-dismiss="modal"><span
                        class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                </button>
            </div>
        </div>
    </div>
</div>
<div class="navbar">
    <a class="brand" href="../home"><span class="first">21vianet</span> <span class="second"></span></a>
    <div class="pull-right">>
        <li id="fat-menu" class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user-md"></i> Jack Smith
                <i class="icon-caret-down"></i>
            </a>

            <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#">My Account</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" class="visible-phone" href="#">Settings</a></li>
                <li class="divider visible-phone"></li>
                <li><a tabindex="-1" href="sign-in.html">Logout</a></li>
            </ul>
        </li>
    </div>
</div>


<div class="sidebar-nav">
    <form class="search form-inline">
        <input type="text" placeholder="Search...">
    </form>

    <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>Dashboard</a>
    <ul id="dashboard-menu" class="nav nav-list collapse in">
        <li><a href="../home">排班表</a></li>
        <li><a href="../users">值班人员管理</a></li>
        <li><a href="../shift">班次管理</a></li>
        <li><a href="../team">值班组管理</a></li>
        <li><a href="../calendar">生成排班表</a></li>
        <li><a href="../multiple_wages">添加多薪日期</a></li>
        <li><a href="../count">排班统计</a></li>

    </ul>

    <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>Account<span
            class="label label-info">+3</span></a>
    <ul id="accounts-menu" class="nav nav-list collapse">
        <li><a href="sign-in.html">Sign In</a></li>
        <li><a href="sign-up.html">Sign Up</a></li>
        <li><a href="reset-password.html">Reset Password</a></li>
    </ul>
</div>


<div class="content">

    <div class="header">

        <h1 class="page-title">值班组管理</h1>
    </div>

    <ul class="breadcrumb">
        <li><a href="../home/">Home</a> <span class="divider">/</span></li>
        <li class="active">值班组管理</li>
    </ul>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="btn-toolbar">
                <button class="btn btn-primary" onclick="add()"><i class="icon-plus"></i> New Team</button>
                <div class="btn-group">
                </div>
            </div>
            <div class="well">
                <table class="table" id="myTb" border="1">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>值班组</th>
                        <th>描述</th>
                        <th style="width: 26px;">编辑</th>
                        <th style="width: 26px;">删除</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div>
                <ul class="pagination">
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>

            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Delete Confirmation</h3>
                </div>
                <div class="modal-body">
                    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete
                        the user?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>


        </div>
    </div>
</div>
<script type="text/javascript">
    var teamobj = '';

    function getteam() {
        $.ajax({
            url: '../api/team/',
            type: "GET",
            dataType: 'json',
            data: {is_delete: false},
            success: function (data) {
                var tbBody = ""
                $.each(data.results, function (index, value) {
                    tbBody += "<tr class='tb_content'><td>" + (index + 1) + "</td>" + "<td>" + value.name + "</td>" +
                        "<td>" + value.description + "</td><td>" + '<a onclick= update(' + value.id + ') role="button">' +
                        '<i class="icon-pencil"></i></a>' + "</td><td>" + '<a onclick = deleteteam(' + value.id +
                        ') role="button" data-toggle="modal"><i class="icon-remove"></i></a>' +
                        "</td></tr>";
                });
                $("#myTb").append(tbBody);
            }
        });
    }

    function add() {
        $('#myModal').modal();
        $('#myModal').on('hidden.bs.modal', function () {
            // 执行一些动作...
            $("#txt_name").val('');
            $("#txt_desc").val('');
        })
    }

    function update(id) {
        teamobj = new Object();
        $.ajax({
            url: '../api/team/',
            type: "GET",
            dataType: 'json',
            data: {
                id: id,
            },
            success: function (data) {
                var result = data.results;
                $("#myModalLabel").text("更新");
                $("#txt_name").val(result[0].name);
                $("#txt_desc").val(result[0].description);
                teamobj = result[0];
                $('#myModal').modal();
            }
        });

    };

    function deleteteam(id) {
        var con = confirm("删除值班组也会删除与值班组有关的部分数据（例如：班次，值班人员，今天之后的排班信息），请确定是否删除：");
        if (con == true) {
            $.ajax({
                url: '../api/team/' + id,
                type: "delete",
                dataType: 'json',
                data: {},
                success: function (result) {
                    alert("删除成功");
                    $(".tb_content").remove();
                    getteam();
                }
            });
        }
    };

    function submit() {
        if ($("#myModalLabel").text() == '新增') {
            if ($("#txt_name").val() != '' && $("#txt_desc").val() != '') {
                $.ajax({
                    url: '../api/team/',
                    type: "POST",
                    dataType: 'json',
                    data: {
                        name: $("#txt_name").val(),
                        description: $("#txt_desc").val(),
                    },
                    success: function (result) {
                        if (result) {
                            alert("添加成功");
                            $(".tb_content").remove();
                            getteam();
                        } else {
                            alert("添加失败，请重试");
                            $('#myModal').modal("show");
                        }
                    }
                });

            } else {
                alert("以上数据不能为空，请重试");
                $('#myModal').modal("show");
            }
        } else {
            if (teamobj.name != $("#txt_name").val() || teamobj.description != $("#txt_desc").val()) {
                $.ajax({
                    url: '../api/team/' + teamobj.id + '/',
                    type: "put",
                    dataType: 'json',
                    data: {
                        name: $("#txt_name").val(),
                        description: $("#txt_desc").val(),
                    },
                    success: function (result) {
                        if (result) {
                            alert("更新成功");
                            $("#txt_name").val('');
                            $("#txt_desc").val('');
                            $(".tb_content").remove();
                            getteam();
                        } else {
                            alert("更新失败，请重试");
                            $('#myModal').modal("show");
                        }
                    }
                });

            }
        }
    };
    $(function () {
        getteam();
    });
</script>
<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
    $(function () {
        $('.demo-cancel-click').click(function () {
            return false;
        });
    });
</script>

</body>
</html>